﻿
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<main>
    <div class="container-fluid">
        @*<h1 class="mt-4">Dashboard</h1>*@

        <div class="card mb-4">            
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fas fa-table mr-1"></i>My Transactions
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatableTransactions" class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Transaction Id</th>
                                <th>Name</th>
                                <th>Link</th>
                                <th>Points</th>
                                <th>Review Date</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    @using (Html.BeginForm("my-transactions", "users", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                </div>
            </div>
        </div>
    </div>
</main>
@section BodyArea {
    <div id="user-content">
        <!--load via ajax-->
    </div>
}

@section Scripts {

    <script>
        $(document).ready(function () {
           $(function () {
    //setup ajax error handling
            $.ajaxSetup({
                error: function (x, status, error) {
                    if (x.status == 403) {
                        alert("Sorry, your session has expired. Please login again to continue");
                        window.location.href ="/users/Login";
                    }
                    else {
                        alert("An error occurred: " + status + "nError: " + error);
                    }
                }
            });
        });
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();

        var table = $("#datatableTransactions").DataTable({
            "language": {
                "emptyTable": "No transaction found."
                ,
                "search": "Search"
            },
            "searching": true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bSortCellsTop": true,
            "ajax": {
                "url": '@Url.Action("my-transactions", "users")',
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    // pass extra information with the post object
                    d.__RequestVerificationToken = token;
                    return d;
                }
            },
            "lengthMenu": [[10, 25, 50, 100, 200, 500, -1], [10, 25, 50, 100, 200, 500, "All"]],
            //"order": [[0, "asc"]],
            //"columnDefs": [
            //    { targets: [4], orderable: false }
            //],
            "columns": [
                {
                    mRender: function (data, type, row) {
                        return 'T10000' + row.id;
                    },
                    sClass: "content-centered"
                },
                {
                    mRender: function (data, type, row) {
                        return row.firstName + ' ' + row.lastName;
                    },
                    sClass: "content-centered"
                },
                { "data": "link", "name": "Link" },
                { "data": "point", "name": "Point" },
                { "data": "reviewDate", "name": "Review Date" }
            ]
        });


    });
    </script>
}
