﻿
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-12">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">My Total Points</div>
                            <div class="col-md-6">@ViewBag.MyPoints</div>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fas fa-table mr-1"></i>My Apps
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatableApps" class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Link</th>
                                <th>Points</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    @using (Html.BeginForm("loadapps", "user", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                </div>
            </div>
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fas fa-table mr-1"></i>My Rewards
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatableRewardPoints" class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Link</th>
                                <th>Points</th>
                                <th>Date</th>                                
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    @using (Html.BeginForm("loadapps", "user", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                </div>
            </div>
        </div>
    </div>
</main>
@section BodyArea {
    <div id="user-content">
        <!--load via ajax-->
    </div>
}

@section Scripts {

    <script>
        $(document).ready(function () {
           $(function () {
    //setup ajax error handling
            $.ajaxSetup({
                error: function (x, status, error) {
                    if (x.status == 403) {
                        alert("Sorry, your session has expired. Please login again to continue");
                        window.location.href ="/users/Login";
                    }
                    else {
                        alert("An error occurred: " + status + "nError: " + error);
                    }
                }
            });
        });
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();

        var table = $("#datatableApps").DataTable({
            "language": {
                "emptyTable": "No app found."
                ,
                "search": "Search"
            },
            "searching": true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bSortCellsTop": true,
            "ajax": {
                "url": '@Url.Action("loadapps", "users")',
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    // pass extra information with the post object
                    d.__RequestVerificationToken = token;
                    return d;
                }
            },
            "lengthMenu": [[10, 25, 50, 100, 200, 500, -1], [10, 25, 50, 100, 200, 500, "All"]],
            //"order": [[0, "asc"]],
            //"columnDefs": [
            //    { targets: [4], orderable: false }
            //],
            "columns": [
                { "data": "name", "name": "Name" },
                { "data": "description", "name": "Description" },
                { "data": "link", "name": "Link" },
                { "data": "point", "name": "Point" },
                {
                    mRender: function (data, type, row) {

                        var links =
                            '<a target="_blank" href="' + row.link + '" class="set-points" data-toggle="tooltip" title="Click here to review" style="text-decoration:none;"  data-id="' + row.appId + '" data-link="' + row.link + '"><i class="fas fa-eye"></i></a>&nbsp;'                             
                        return links;

                    },
                    sClass: "content-centered"
                }
                
            ]
        });

        var tableRewardPoints = $("#datatableRewardPoints").DataTable({
            "language": {
                "emptyTable": "No reward point found."
                ,
                "search": "Search"
            },
            "searching": true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bSortCellsTop": true,
            "ajax": {
                "url": '@Url.Action("GetRewardPoints", "users")',
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    // pass extra information with the post object
                    d.__RequestVerificationToken = token;
                    return d;
                }
            },
            "lengthMenu": [[10, 25, 50, 100, 200, 500, -1], [10, 25, 50, 100, 200, 500, "All"]],
            //"order": [[0, "asc"]],
            //"columnDefs": [
            //    { targets: [4], orderable: false }
            //],
            "columns": [                
                
                { "data": "link", "name": "Link" },
                { "data": "point", "name": "Point" },
                { "data": "reviewDate", "name": "Review Date" }                
            ]
        });

        $(document).on('click', '.delete-app', function (e) {
            e.preventDefault();
            debugger;
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            var id = $(this).data("id");
            var url = '@Url.Action("delete-app", "admin", new { id = 0 })';
            url = url.replace("0", id);

            swal({
                title: "Are you sure?",
                text: 'Clicking "Yes" will permanently delete the item.',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                closeOnConfirm: true,
                showLoaderOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function (data) {
                    if (data.success) {
                        $.notify('App deleted successfully', { type: "success" });
                        // reload the datatable
                        $("#datatableApps").DataTable().ajax.reload();
                    }
                    else {
                        $.notify(data.message, { type: "warning" });
                    }
                }
                });
            });
        });

       $(document).on('click', '.set-points', function (e) {
                debugger;
                e.preventDefault();
                var url = '@Url.Action("set-points", "users")';
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var id = $(this).data("id");
                var link = $(this).data("link");
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { id: id, __RequestVerificationToken: token },
                    success: function (data) {
                        if (data.success) {
                            window.open(link,'_blank')
                            $("#datatableRewardPoints").DataTable().ajax.reload();
                        }
                        else {
                            console.log('data.message',data.message);
                            // display a error toast
                            $.notify(data.message, { type: "warning" });
                        }
                    }
                });
            });
    });
    </script>
}
