﻿@{
    Layout = null;
}

<div class="block-center mt-4 wd-xl">
    <!-- START panel-->
    <div class="card card-flat">
        <div class="card-body">
            <p>@Html.Raw(ViewBag.Message)</p>
        </div>
    </div>
    <!-- END panel-->
</div>