﻿@model MLMSystem.Models.UserProfileModel
@{
    ViewData["Title"] = "CreateApp";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Profile</h3>
                        @if (!Model.IsUpgraded)
                        {
                            <a href="upgradeProfile" class="btn btn-primary btn-block">Upgrade Profile</a>
                        }
                    </div>
                    <div class="card-body">
                        <form id="form-profile" asp-action="UpdateProfile" asp-controller="Admin" method="post" role="form"
                              data-parsley-validate="" novalidate=""
                              data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
                              data-parsley-trigger="keyup" data-parsley-errors-messages-disabled>
                            @Html.AntiForgeryToken()
                            <input type="hidden" asp-for="UserId" />
                            <input type="hidden" asp-for="IdTypeUpdated" />
                            <input type="hidden" asp-for="Email" id="emailId" />
                            <input type="hidden" asp-for="Mobile" id="PhoneNumber" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="ReferralId">Referral Id</label>
                                        <input disabled class="form-control py-4" asp-for="ReferralId" type="text" required="required" placeholder="Enter referral id" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="ReferralName">Referral Name</label>
                                        <input disabled class="form-control py-4" asp-for="ReferralName" type="text" required="required" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Mobile">Mobile</label>
                                        <input class="form-control py-4" asp-for="Mobile" min="10" maxlength="10" aria-describedby="emailHelp" required="required" placeholder="Enter mobile no" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Email">Email</label>
                                        <input class="form-control py-4" asp-for="Email" type="email" aria-describedby="emailHelp" required="required" placeholder="Enter email address" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" id="SendCodePanel" style="display:none;">
                                <div class="col-md-12">
                                    <div class="form-group" style="float:right;">
                                        <a id="SendVerificationCode" class="btn btn-success">Verify Email</a>
                                        <a id="CancelSendCode" class="btn btn-danger">Cancel</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" id="verificationPanel" style="display:none;">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input class="form-control py-4" placeholder="Enter email verification code" id="Code" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <a id="VerifyEmailCode" class="btn btn-success">Verify</a>
                                        <a id="CancelVerification" class="btn btn-danger">Cancel</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row" id="SendPhoneCodePanel" style="display:none;">
                                <div class="col-md-12">
                                    <div class="form-group" style="float:right;">
                                        <a id="SendPhoneVerificationCode" class="btn btn-success">Verify Mobile</a>
                                        <a id="CancelPhoneSendCode" class="btn btn-danger">Cancel</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" id="PhoneVerificationPanel" style="display:none;">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input class="form-control py-4" placeholder="Enter phone verification code" id="Code" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <a id="VerifyPhoneCode" class="btn btn-success">Verify</a>
                                        <a id="CancelPhoneVerification" class="btn btn-danger">Cancel</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="FirstName">First Name</label>
                                        <input class="form-control py-4" asp-for="FirstName" type="text" required="required" placeholder="Enter first name" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="LastName">Last Name</label>
                                        <input class="form-control py-4" asp-for="LastName" type="text" required="required" placeholder="Enter last name" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="DOB">DOB</label>
                                        <input class="form-control py-4" asp-for="DOB" type="text" asp-format="{0:dd/MM/yyyy}" required="required" placeholder="Enter DOB" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="CountryId">Country</label>
                                        <select asp-for="CountryId" required="required" asp-items="Model.Countries" class="form-control sub-info"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="StateId">State</label>
                                        <select asp-for="StateId" required="required" asp-items="Model.States" class="form-control sub-info"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="CityId">City</label>
                                        <select asp-for="CityId" required="required" asp-items="Model.Cities" class="form-control sub-info"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="AreaCode">Aera Code</label>
                                        <input class="form-control py-4" asp-for="AreaCode" type="number" required="required" placeholder="Enter area code" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Address">Address</label>
                                        <input class="form-control py-4" asp-for="Address" type="text" required="required" placeholder="Enter address" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="IdNo">Id No.</label>
                                        <input class="form-control py-4" asp-for="IdNo" type="text" required="required" placeholder="Enter ID No." maxlength="12" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="IdType">ID Type</label>
                                        <select asp-for="IdType" required="required" asp-items="Model.IdTypes" class="form-control sub-info"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0">
                                <button id="btnSave" class="btn btn-primary btn-block">Save Profile</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#DOB").datepicker({ dateFormat: 'dd-mm-yy' });
        });
        $(document).ready(function () {

            $("#SendVerificationCode").click(function () {
                $.ajax({
                    url: '/Users/SendVerificationCode',
                    type: 'GET',
                    dataType: 'json',
                    data: { email: $("#Email").val(), userId: $("#UserId").val() },
                    success: function (d) {
                        if (d) {
                            $.notify('Email verification code send successfully.', { type: "success" });
                            $("#SendCodePanel").hide();
                            $("#verificationPanel").show();
                        } else {
                            $.notify('Email already exists.', { type: "warning" });
                            $("#SendCodePanel").hide();
                            $("#verificationPanel").hide();
                        }
                    },
                    error: function () {
                        alert('Error!');
                    }
                });
            });


            $("#SendPhoneVerificationCode").click(function () {
                $.ajax({
                    url: '/Users/SendPhoneVerificationCode',
                    type: 'GET',
                    dataType: 'json',
                    data: { phone: $("#Mobile").val(), userId: $("#UserId").val() },
                    success: function (d) {
                        if (d) {
                            $.notify('Phone verification code send successfully.', { type: "success" });
                            $("#SendPhoneCodePanel").hide();
                            $("#PhoneVerificationPanel").show();
                        } else {
                            $.notify('Phone already exists.', { type: "warning" });
                            $("#SendPhoneCodePanel").hide();
                            $("#PhoneVerificationPanel").hide();
                        }
                    },
                    error: function () {
                        alert('Error!');
                    }
                });
            });

            $("#VerifyPhoneCode").click(function () {
                $.ajax({
                    url: '/Users/VerifyPhoneCode',
                    type: 'GET',
                    dataType: 'json',
                    data: { code: $("#Code").val() },
                    success: function (d) {
                        if (d) {
                            $.notify('Phone number verified successfully', { type: "success" });
                            $("#SendPhoneCodePanel").hide();
                            $("#PhoneVerificationPanel").hide();
                            $("#btnSave").attr("disabled", false);
                            $("#PhoneNumber").val($("#Mobile").val());
                        } else {
                            $.notify('Please enter valid code!', { type: "warning" });
                        }
                    },
                    error: function () {
                        alert('Error!');
                    }
                });
            });

            $("#CancelSendCode").click(function () {
                $("#Email").val($("#emailId").val());
                $("#SendCodePanel").hide();
                $("#btnSave").attr("disabled", false);
            });

            $("#CancelVerification").click(function () {
                $("#Email").val($("#emailId").val());
                $("#SendCodePanel").hide();
                $("#verificationPanel").hide();
                $("#btnSave").attr("disabled", false);
            });

            $("#CancelPhoneSendCode").click(function () {
                $("#Mobile").val($("#PhoneNumber").val());
                $("#SendPhoneCodePanel").hide();
                $("#btnSave").attr("disabled", false);
            });

            $("#CancelPhoneVerification").click(function () {
                $("#Mobile").val($("#PhoneNumber").val());
                $("#SendPhoneCodePanel").hide();
                $("#PhoneVerificationPanel").hide();
                $("#btnSave").attr("disabled", false);
            });


            $('#form-profile').parsley();

            $('#form-profile').submit(function (e) {
                debugger;
                e.preventDefault();
                debugger;
                var isFormValid = $(this).parsley().isValid();
                console.log('IsFormValid:' + isFormValid);

                var buttonText = $('#btnSave').html();
                $('#btnSave').attr('disabled', '').html('<i class="fa fa-spinner fa-spin"></i>&nbsp; ' + buttonText);

                if (isFormValid) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/profile',
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data.success) {
                                //$('#edit-location').modal('hide');
                                $('#form-profile').trigger("reset");
                                $.notify('Profile updated successfully', { type: "success" });

                                window.location.href = '/users/profile';

                            }
                            else {
                                console.log('data.message', data.message);
                                // display a error toast
                                $.notify(data.message, { type: "warning" });

                            }
                            $('#btnSave').attr('disabled', null).html('Save');
                        },
                        error: function (error) {
                            console.log(error);
                            $('#btnSave').attr('disabled', null).html('Save');
                        }
                    });
                }
                else {
                    //console.log(error);
                    $('#btnSave').attr('disabled', null).html('Save');
                }
            });

            $("#CountryId").change(function () {
                var CountryId = parseInt($(this).val());

                if (!isNaN(CountryId)) {
                    var ddlState = $('#StateId');
                    ddlState.empty();
                    ddlState.append($("<option></option>").val('').html('Please wait ...'));
                    $.ajax({
                        url: '/users/getStates',
                        type: 'GET',
                        dataType: 'json',
                        data: { countryId: CountryId },
                        success: function (d) {

                            ddlState.empty(); // Clear the please wait
                            ddlState.append($("<option></option>").val('').html('Select State'));
                            $.each(d, function (i, states) {
                                ddlState.append($("<option></option>").val(states.value).html(states.text));
                            });
                        },
                        error: function () {
                            alert('Error!');
                        }
                    });
                }


            });

            //City Bind By satate id
            $("#StateId").change(function () {
                var StateId = parseInt($(this).val());
                if (!isNaN(StateId)) {
                    var ddlCity = $('#CityId');
                    ddlCity.append($("<option></option>").val('').html('Please wait ...'));
                    $.ajax({
                        url: '/users/getCites',
                        type: 'GET',
                        dataType: 'json',
                        data: { stateId: StateId },
                        success: function (d) {
                            ddlCity.empty(); // Clear the plese wait
                            ddlCity.append($("<option></option>").val('').html('Select City'));
                            $.each(d, function (i, cities) {
                                ddlCity.append($("<option></option>").val(cities.value).html(cities.text));
                            });
                        },
                        error: function () {
                            alert('Error!');
                        }
                    });
                }
            });

            $("#Email").keyup(function () {
                var existingEmail = $("#emailId").val();
                var updatedEmail = $(this).val();
                if (existingEmail.toLowerCase() === updatedEmail.toLowerCase()) {
                    $("#SendCodePanel").hide();
                    $("#btnSave").attr("disabled", false);
                } else {
                    $("#SendCodePanel").show();
                    $("#btnSave").attr("disabled", true);
                }
            });

            $("#Mobile").keyup(function () {
                var existingPhone = $("#PhoneNumber").val();
                var updatedPhone = $(this).val();
                if (existingPhone.toLowerCase() === updatedPhone.toLowerCase()) {
                    $("#SendPhoneCodePanel").hide();
                    $("#btnSave").attr("disabled", false);
                } else {
                    $("#SendPhoneCodePanel").show();
                    $("#btnSave").attr("disabled", true);
                }
            });
        });
    </script>
}