﻿@model MLMSystem.Models.RegisterModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                    <div class="card-body">
                        <form id="form-register" asp-action="Register" asp-controller="Users" method="post" role="form"
                              data-parsley-validate="" novalidate=""
                              data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
                              data-parsley-trigger="keyup" data-parsley-errors-messages-disabled>
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="ReferralId">Referral Id</label>
                                        <input class="form-control py-4" asp-for="ReferralId" type="text" required="required" placeholder="Enter referral id" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="FirstName">First Name</label>
                                        <input class="form-control py-4" asp-for="FirstName" type="text" required="required" placeholder="Enter first name" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="LastName">Last Name</label>
                                        <input class="form-control py-4" asp-for="LastName" type="text" required="required" placeholder="Enter last name" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="CountryId">Country</label>
                                        <select asp-for="CountryId" required="required" asp-items="Model.Countries" class="form-control sub-info"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Mobile">Mobile</label>
                                        <input class="form-control py-4" asp-for="Mobile" aria-describedby="emailHelp" required="required" placeholder="Enter mobile no" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Email">Email</label>
                                        <input class="form-control py-4" asp-for="Email" type="email" aria-describedby="emailHelp" required="required" placeholder="Enter email address" />
                                    </div>
                                </div>

                            </div>
                            @*<div class="form-group">
                                    <label class="small mb-1" asp-for="Email">Email</label>
                                    <input class="form-control py-4" asp-for="Email" type="email" aria-describedby="emailHelp" required="required" placeholder="Enter email address" />
                                </div>*@
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Password">Password</label>
                                        <input class="form-control py-4" data-parsley-minlength="6" data-parsley-minlength-message="Min lenght is 6 character" asp-for="Password" data-equalto="#ConfirmPassword" name="ConfirmPassword" type="password" required="required" placeholder="Enter password" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="ConfirmPassword">Confirm Password</label>
                                        <input class="form-control py-4" asp-for="ConfirmPassword" data-equalto="#Password" name="Password" type="password" required="required" placeholder="Confirm password" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0">
                                <button id="btnSave" class="btn btn-primary btn-block">Create Account</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a href="login">Have an account? Go to login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<link href="~/lib/notification/css/notify.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/notification/css/prettify.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
<script src="~/dist/js/scripts.js"></script>
<script src="~/lib/parsleyjs/dist/parsley.js"></script>
<script src="~/lib/notification/js/notify.js"></script>
<script src="~/lib/notification/js/prettify.js"></script>
<script>

        $('#Email').blur(function () {
            checkEmail();
        });

        $('#ConfirmPassword').blur(function () {
            var password = $("#Password").val();
            var confirmPassword = $("#ConfirmPassword").val();
            if (password != '') {
                //alert(password);
                //alert(confirmPassword);
                if (password != confirmPassword) {
                    $.notify('Passwords does not match.', { type: "warning" });
                    //alert("Passwords do not match.");
                    return false;
                }
            }

            return true;
        });

        function validatePassword() {
            var password = $("#Password").val();
            var confirmPassword = $("#ConfirmPassword").val();
            if (password != confirmPassword) {
                $.notify('Passwords do not match.', { type: "warning" });
                return false;
            }
            return true;
        }

        var checkEmail = function () {
            if ($('#Email').val().length > 0 && $('#Email').val() != '') {
                $('#btnSave').attr('disabled', '').html('Save');
                $(".modal-content").addClass("whirl traditional");
                $.get("/Users/CheckIfEmailAlreadyExists/" + $('#Email').val(), function (data) {
                    if (data.success) {
                        if (data.isExist) {
                            $.notify('Email already exist', { type: "warning" });
                            return false;
                        }
                        //$("#Email").focus().select();
                    }
                    $('#btnSave').attr('disabled', null).html('Save');
                    $(".modal-content").removeClass("whirl traditional");
                });
            }
        }

        $('#form-register').submit(function (e) {
            debugger;
            e.preventDefault();
            if (!validatePassword()) {
                return;
            };
            if (checkEmail()) {
                return;
            }
            //checkLocationName();
            debugger;
            var isFormValid = $(this).parsley().isValid();
            console.log('IsFormValid:' + isFormValid);

            var buttonText = $('#btnSave').html();
            $('#btnSave').attr('disabled', '').html('<i class="fa fa-spinner fa-spin"></i>&nbsp; ' + buttonText);

            if (isFormValid) {
                $.ajax({
                    type: 'POST',
                    url: '/Users/Register',
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.success) {
                            //$('#edit-location').modal('hide');
                            $('#form-register').trigger("reset");
                            $.notify('Registered successfully', { type: "success" });
                            window.location = 'login';
                            // window.location.replace("http://www.w3schools.com");
                        }
                        else {
                            console.log('data.message', data.message);
                            // display a error toast
                            $.notify(data.message, { type: "warning" });

                        }
                        $('#btnSave').attr('disabled', null).html('Save');
                    },
                    error: function (error) {
                        console.log(error);
                        $('#btnSave').attr('disabled', null).html('Save');
                    }
                });
            }
            else {
                //console.log(error);
                $('#btnSave').attr('disabled', null).html('Save');
            }
        });
</script>
