﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4"></h1>
        <div class="card mb-4">
            @*<div class="card-header"><i class="fas fa-table mr-1"></i>Users<a class="mb-sm btn btn-primary" href="/admin/manage-user" title="Create New">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Create New
                </a></div>*@
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fas fa-table mr-1"></i>My Users
                    </div>
                    @*<div class="col-md-6 text-right">
                        <a class="mb-sm btn btn-primary" href="/admin/manage-user" title="Create New">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-md-6 text-right">

                    </div>*@
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatableUsers" class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Transaction Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    @using (Html.BeginForm("GetUsers", "Users", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                </div>
            </div>
        </div>
    </div>
</main>
@section BodyArea {
    <div id="user-content">
        <!--load via ajax-->
    </div>
}


@section Scripts {

    <script>
        $(document).ready(function () {
           $(function () {
    //setup ajax error handling
            $.ajaxSetup({
                error: function (x, status, error) {
                    if (x.status == 403) {
                        alert("Sorry, your session has expired. Please login again to continue");
                        window.location.href ="/users/Login";
                    }
                    else {
                        alert("An error occurred: " + status + "nError: " + error);
                    }
                }
            });
        });
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();

        var table = $("#datatableUsers").DataTable({
            "language": {
                "emptyTable": "No users found."
                ,
                "search": "Search"
            },
            "searching": true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bSortCellsTop": true,
            "ajax": {
                "url": '@Url.Action("GetUsers", "Users")',
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    // pass extra information with the post object
                    d.__RequestVerificationToken = token;
                    return d;
                }
            },
            "lengthMenu": [[10, 25, 50, 100, 200, 500, -1], [10, 25, 50, 100, 200, 500, "All"]],
            //"order": [[0, "asc"]],
            "columnDefs": [
                { targets: [1], orderable: false }
            ],
            "columns": [                
                {
                    mRender: function (data, type, row) {
                        return 'U10000' + row.userId;
                    },
                    sClass: "content-centered"
                },
                { "data": "firstName", "name": "Firts Name" },
                { "data": "lastName", "name": "Last Name" },
                { "data": "email", "name": "Email" }
            ]
        });
    });
    </script>
}

