﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">My Apps</h1>
        <div class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fas fa-table mr-1"></i>Apps
                    </div>
                    @*<div class="col-md-6 text-right">
                        <a id="upload-new-message" data-toggle="tooltip" class="mb-sm btn btn-primary" href="/admin/create-app" title="Create new app">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>*@

                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatableApps" class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Link</th>
                                <th>Points</th>
                                <th style="width:10%" class="content-centered">Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    @using (Html.BeginForm("loadapps", "user", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                </div>
            </div>
        </div>
    </div>
</main>
@section BodyArea {
    <div id="user-content">
        <!--load via ajax-->
    </div>
}

@section Scripts {

    <script>
       $( document ).ready(function() {
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();

        var table = $("#datatableApps").DataTable({
            "language": {
                "emptyTable": "No app found."
                ,
                "search": "Search"
            },
            "searching": true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bSortCellsTop": true,
            "ajax": {
                "url": '@Url.Action("loadapps", "users")',
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    // pass extra information with the post object
                    d.__RequestVerificationToken = token;
                    return d;
                }
            },
            "lengthMenu": [[10, 25, 50, 100, 200, 500, -1], [10, 25, 50, 100, 200, 500, "All"]],
            //"order": [[0, "asc"]],
            "columnDefs": [
                { targets: [4], orderable: false }
            ],
            "columns": [
                { "data": "name", "name": "Name" },
                { "data": "description", "name": "Description" },
                { "data": "link", "name": "Link" },
                { "data": "point", "name": "Point" },

                {
                    mRender: function (data, type, row) {

                        var links =
                            '<a target="_blank" href="' + row.link + '" class="set-points" data-toggle="tooltip" title="Click here to review" style="text-decoration:none;"  data-id="' + row.appId + '" data-link="' + row.link + '"><i class="fas fa-eye"></i></a>&nbsp;'                             
                        return links;

                    },
                    sClass: "content-centered"
                }
            ]
        });

        $(document).on('click', '.delete-app', function (e) {
            e.preventDefault();
            debugger;
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            var id = $(this).data("id");            
            var url = '@Url.Action("delete-app", "admin", new { id = 0 })';
            url = url.replace("0", id);            

            swal({
                title: "Are you sure?",
                text: 'Clicking "Yes" will permanently delete the item.',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                closeOnConfirm: true,
                showLoaderOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function (data) {
                    if (data.success) {
                        $.notify('App deleted successfully', { type: "success" });
                        // reload the datatable
                        $("#datatableApps").DataTable().ajax.reload();
                    }
                    else {
                        $.notify(data.message, { type: "warning" });
                    }
                }
                });
            });
        });
        
       $(document).on('click', '.set-points', function (e) {
                debugger;
                e.preventDefault();
                var url = '@Url.Action("set-points", "users")';
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var id = $(this).data("id");
                var link = $(this).data("link");
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { id: id, __RequestVerificationToken: token },
                    success: function (data) {
                        if (data.success) {
                            window.open(link,'_blank')
                            //$.notify('Apps activated successfully', { type: "success" });                           
                            
                        }
                        else {
                            // display a error toast
                            $.notify(data.message, { type: "warning" });    
                        }
                    }
                });
            });

           $(document).on('click', '.edit-app', function (e) {

            $("#datatableApps").addClass("whirl traditional loader-fixed");
            var id = $(this).data("id");
            var url = '@Url.Action("create-app", "admin", new { id = 0 })';
            url = url.replace('0', id);

            window.location.href = url;
            //$.ajax({
            //    type: 'GET',
            //    url: url,
            //    success: function (data) {
            //        $("#datatableApps").removeClass("whirl traditional loader-fixed");
            //        $('#user-content').html(data);
            //        $('#user-content-modal').modal({
            //            backdrop: 'static',
            //            keyboard: false
            //        });
            //    }
            //});
        });
    });
    </script>
}

