﻿@model MLMSystem.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login</title>
    <link href="~/dist/css/styles.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/common.css" rel="stylesheet" />
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    <form id="form-login" asp-action="Login" asp-controller="Users" method="post" role="form"
                                          data-parsley-validate="" novalidate=""
                                          data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
                                          data-parsley-trigger="keyup" data-parsley-errors-messages-disabled>
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <label class="small mb-1" asp-for="Email">Email</label>
                                            <input class="form-control py-4" asp-for="Email" type="email" required="required" placeholder="Enter email address" />
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" asp-for="Password">Password</label>
                                            <input class="form-control py-4" asp-for="Password" type="password" required="required" placeholder="Enter password" />
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" asp-for="RememberMe" type="checkbox" />
                                                <label class="custom-control-label" asp-for="RememberMe">Remember password</label>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="forgotpassword">Forgot Password?</a>
                                            <button id="btnLogin" type="submit" class="btn btn-primary" href="index.html">Login</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small"><a href="register">Need an account? Sign up!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2019</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <link href="~/lib/notification/css/notify.css" rel="stylesheet" />
    <link href="~/lib/notification/css/prettify.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <script src="~/dist/js/scripts.js"></script>
    <script src="~/lib/parsleyjs/dist/parsley.js"></script>
    <script src="~/lib/notification/js/notify.js"></script>
    <script src="~/lib/notification/js/prettify.js"></script>
    <script src="~/js/Common/common.js"></script>
    <script>
        $('#form-login').submit(function (e) {
            debugger;
            e.preventDefault();
            debugger;
            var isFormValid = $(this).parsley().isValid();
            console.log('IsFormValid:' + isFormValid);

            var buttonText = $('#btnLogin').html();
            $('#btnLogin').attr('disabled', '').html('<i class="fa fa-spinner fa-spin"></i>&nbsp; ' + buttonText);

            if (isFormValid) {
                $.ajax({
                    type: 'POST',
                    url: '/Users/Login',
                    data: $(this).serialize(),
                    success: function (data) {
                        console.log('data', data);
                        //window.location = 'admindashboard/index';
                        if (data.success) {
                            //if (data.user.userType == 1) {
                            //    window.location.replace('/admin/users');
                            //}
                            if (data.userType == 2) {
                                window.location.replace('/users/dashboard');
                            }
                        }
                        else {
                            console.log('data.message', data.message);
                            // display a error toast
                            $.notify(data.message, { type: "warning" });

                        }
                        $('#btnLogin').attr('disabled', null).html('Login');
                    },
                    error: function (error) {
                        console.log(error);
                        $('#btnLogin').attr('disabled', null).html('Login');
                    }
                });
            }
            else {
                //console.log(error);
                $('#btnLogin').attr('disabled', null).html('Login');
            }
        });
    </script>
</body>
</html>
