﻿@model MLMSystem.Models.ManageWithdrawlRequestModel
@{
    ViewData["Title"] = "ManageWithdrawlRequest";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var myPoints = ViewBag.MyPoints;

}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">@ViewBag.ModalTitle</h3>
                    </div>
                    <div class="card-body">
                        <form id="form-manage-withdrawl-request" asp-action="ManageWithdrawlRequest" asp-controller="User" method="post" role="form"
                              data-parsley-validate="" novalidate=""
                              data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
                              data-parsley-trigger="keyup" data-parsley-errors-messages-disabled>
                            @Html.AntiForgeryToken()

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="AccountNumber">Account Number</label>
                                        <input class="form-control py-4" asp-for="AccountNumber" aria-describedby="emailHelp" required="required"
                                               placeholder="Enter account number" data-parsley-type="digits" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="ReEnterAccountNumber">Re-Enter Account Number</label>
                                        <input class="form-control py-4" asp-for="ReEnterAccountNumber" aria-describedby="emailHelp" required="required" placeholder="Enter account number" data-parsley-validation-threshold="1" data-parsley-trigger="keyup"
                                               data-parsley-type="digits" data-parsley-maxlength="20" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="IFSCCode">IFSC Code</label>
                                        <input class="form-control py-4" asp-for="IFSCCode" aria-describedby="emailHelp" required="required"
                                               placeholder="Enter IFSC Cide" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="small mb-1"></label>
                                        <button id="btnGetBranch" class="btn btn-primary btn-block mt-2">Check IFSC Code</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="BankName">Bank Name</label>
                                        <input readonly class="form-control py-4" asp-for="BankName" aria-describedby="emailHelp" required="required"
                                               placeholder="Enter name" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Branch">Branch</label>
                                        <input readonly class="form-control py-4" asp-for="Branch" aria-describedby="emailHelp" required="required"
                                               placeholder="Enter Branch" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="BankAddress">Bank Address</label>
                                        <textarea readonly class="form-control py-4" asp-for="BankAddress" aria-describedby="emailHelp" required="required"
                                                  placeholder="Enter bank address"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Point">Point</label>
                                        <input class="form-control py-4" asp-for="Point" type="text" required="required" placeholder="Enter point"
                                               data-parsley-type="digits" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3">
                                    <button id="btnSave" class="btn btn-primary btn-block">Save</button>
                                </div>
                                <div class="col-md-3">                                    
                                    <a  href="/Users/withdrawlrequests" class="btn btn-primary btn-block">Cancel</a>
                                </div>
                            </div>
                            @*<div class="form-group mt-4 mb-0">
                                <button id="btnSave" class="btn btn-primary btn-block">Save</button>
                                <a id="btnSave" href="/Users/withdrawlrequests" class="btn btn-primary btn-block">Cancel</a>
                            </div>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    <script>
        $(document).ready(function () {

        $('#form-manage-withdrawl-request').parsley();

        $('#Point').blur(function () {
            if (@myPoints<$(this).val()){
                $.notify('You have requested more than available points in your account.', { type: "warning" });
                $(this).val('');
            }
        });

        $('#ReEnterAccountNumber').blur(function () {
            debugger;
            var account = $("#AccountNumber").val();
            var reenterAccount = $("#ReEnterAccountNumber").val();
            if (account != '') {
                //alert(password);
                //alert(confirmPassword);
                if (account != reenterAccount) {
                    $.notify('Account number does not match.', { type: "warning" });
                    //alert("Passwords do not match.");
                    $("#ReEnterAccountNumber").val('');
                    return false;
                }
            }

            return true;
        });

        function validateAccount() {
            var account = $("#AccountNumber").val();
            var reenterAccount = $("#ReEnterAccountNumber").val();
            if (account != reenterAccount) {
                $.notify('Account number does not match.', { type: "warning" });
                return false;
            }
            return true;
        }

            //$('#IFSCCode').blur(function () {
            //    getBankDetails();
            //});

            $('#btnGetBranch').click(function () {
                getBankDetails();
            });



            var getBankDetails = function () {
                debugger;
                if ($('#IFSCCode').val().length > 0 && $('#IFSCCode').val() != '') {
                    $.get("/Users/GetBranchByIFSC/" + $('#IFSCCode').val(), function (data) {
                        if (data.success) {
                            console.log('bank details', data.bank);
                            $('#Branch').val(data.bank.branch);
                            $('#BankName').val(data.bank.bank);
                            $('#BankAddress').val(data.bank.address + ',' + data.bank.city
                                + ',' + data.bank.district + ',' + data.bank.state);                            
                        }
                    });
                }
            }

            $('#form-manage-withdrawl-request').submit(function (e) {
                debugger;
                e.preventDefault();
                if ($('#Point').val()== 0) {
                    $.notify('Please add more than 0 point in request.', { type: "warning" });
                    return false;
                }              

                debugger;
                var isFormValid = $(this).parsley().isValid();
                console.log('IsFormValid:' + isFormValid);

                var buttonText = $('#btnSave').html();
                $('#btnSave').attr('disabled', '').html('<i class="fa fa-spinner fa-spin"></i>&nbsp; ' + buttonText);

                if (isFormValid) {
                    $.ajax({
                        type: 'POST',
                        url: '/users/manage-withdrawl-request',
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data.success) {
                                //$('#edit-location').modal('hide');
                                $('#form-manage-withdrawl-request').trigger("reset");
                                $.notify('Record saved successfully', { type: "success" });
                                window.location.href = '/Users/withdrawlrequests';
                            }
                            else {
                                console.log('data.message', data.message);
                                // display a error toast
                                $.notify(data.message, { type: "warning" });

                            }
                            $('#btnSave').attr('disabled', null).html('Save');
                        },
                        error: function (error) {
                            console.log(error);
                            $('#btnSave').attr('disabled', null).html('Save');
                        }
                    });
                }
                else {
                    //console.log(error);
                    $('#btnSave').attr('disabled', null).html('Save');
                }
            });
        });
    </script>
}

