﻿@model MLMSystem.Models.ManageGuestModel
@{
    ViewData["Title"] = "ManageUser";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">@ViewBag.ModalTitle</h3>
                    </div>
                    <div class="card-body">
                        <form id="form-manage-guest" asp-action="ManageUser" asp-controller="Users" method="post" role="form"
                              data-parsley-validate="" novalidate=""
                              data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
                              data-parsley-trigger="keyup" data-parsley-errors-messages-disabled>
                            @Html.AntiForgeryToken()
                            @*<div class="form-row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="small mb-1" asp-for="SelectedUserId">User</label>
                    <select asp-for="SelectedUserId" required="required" asp-items="Model.Users" class="form-control sub-info"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="small mb-1" asp-for="ReferralId">Referral Id</label>
                    <input class="form-control py-4" asp-for="ReferralId" type="text" required="required" placeholder="Enter referral id" />
                </div>
            </div>
        </div>*@
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="FirstName">First Name</label>
                                        <input class="form-control py-4" asp-for="FirstName" type="text" required="required" placeholder="Enter first name" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="LastName">Last Name</label>
                                        <input class="form-control py-4" asp-for="LastName" type="text" required="required" placeholder="Enter last name" />
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="small mb-1" asp-for="CountryId">Country</label>
                    <select asp-for="CountryId" required="required" asp-items="Model.Countries" class="form-control sub-info"></select>
                </div>
            </div>
        </div>*@
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Mobile">Mobile</label>
                                        <input class="form-control py-4" asp-for="Mobile" aria-describedby="emailHelp" required="required" placeholder="Enter mobile no" data-parsley-validation-threshold="1" data-parsley-trigger="keyup"
                                               data-parsley-type="digits" data-parsley-maxlength="10" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="AlternateMobile">Alternate Mobile</label>
                                        <input class="form-control py-4" asp-for="AlternateMobile" aria-describedby="emailHelp" placeholder="Enter mobile no" data-parsley-validation-threshold="1" data-parsley-trigger="keyup"
                                               data-parsley-type="digits" data-parsley-maxlength="10" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Email">Email</label>
                                        <input class="form-control py-4" asp-for="Email" type="email" aria-describedby="emailHelp" required="required" placeholder="Enter email address" />
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="small mb-1" asp-for="Password">Password</label>
                    <input class="form-control py-4" data-parsley-minlength="6" data-parsley-minlength-message="Min lenght is 6 character" asp-for="Password" data-equalto="#ConfirmPassword" name="ConfirmPassword" type="password" required="required" placeholder="Enter password" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="small mb-1" asp-for="ConfirmPassword">Confirm Password</label>
                    <input class="form-control py-4" asp-for="ConfirmPassword" data-equalto="#Password" name="Password" type="password" required="required" placeholder="Confirm password" />
                </div>
            </div>
        </div>*@
                            <div class="form-group mt-4 mb-0">
                                <button id="btnSave" class="btn btn-primary btn-block">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    <script>
        $(document).ready(function () {

            $('#form-manage-guest').parsley();  

            $('#ReferralId').attr('readonly', true);

            if ($('#ReferralId').val() != '') {
                $('#SelectedUserId').attr('readonly', true);
            }
            else {
                 $('#SelectedUserId').attr('readonly', false);
            }

            //$('#ReferralId').val('');
            //$('#ReferralId').focus().select();            

            $('#Email').blur(function () {

                checkEmail();
            });

            var checkEmail = function () {
                debugger;
                if ($('#Email').val().length > 0 && $('#Email').val() != '') {
                    $.get("/Users/CheckIfEmailAlreadyExists/" + $('#Email').val(), function (data) {
                        if (data.success) {
                            if (data.isExist) {
                                $.notify('Email already exist', { type: "warning" });
                                $('#Email').val('');
                                $('#Email').focus().select();
                                isEmailExist = true;
                                return false;
                            }
                            else {
                                isEmailExist = false;
                            }
                        }

                    });
                }
            }

            $('#Mobile').blur(function () {
                checkMobile();
            });

            var checkMobile = function () {
                debugger;
                if ($('#Mobile').val().length > 0 && $('#Mobile').val() != '') {
                    $.get("/Users/CheckIfMobileAlreadyExists/" + $('#Mobile').val(), function (data) {
                        if (data.success) {
                            if (data.isExist) {
                                $.notify('Mobile already exist', { type: "warning" });
                                $('#Mobile').val('')
                                $('#Mobile').focus().select();
                                isMobileExist = true;
                                return false;
                            }
                            else {
                                isMobileExist = false;
                            }
                        }

                    });
                }
            }

            $('#ReferralId').blur(function () {
                checkRefferal();
            });

            var checkRefferal = function () {
                debugger;
                if ($('#ReferralId').val().length > 0 && $('#ReferralId').val() != '') {
                    $.get("/Users/CheckIfRefferalAlreadyExists/" + $('#ReferralId').val(), function (data) {
                        if (data.success) {
                            if (data.isExist) {
                                isRefferalExist = true;
                                return false;
                            }
                            else {
                                isRefferalExist = false;
                                $.notify('Refferal not exist', { type: "warning" });
                                $('#ReferralId').val('');
                                $('#ReferralId').focus().select();

                                return true;
                            }
                        }

                    });
                }
            }

            $('#ConfirmPassword').blur(function () {
                var password = $("#Password").val();
                var confirmPassword = $("#ConfirmPassword").val();
                if (password != '') {
                    //alert(password);
                    //alert(confirmPassword);
                    if (password != confirmPassword) {
                        $.notify('Passwords does not match.', { type: "warning" });
                        //alert("Passwords do not match.");
                        return false;
                    }
                }

                return true;
            });

            function validatePassword() {
                var password = $("#Password").val();
                var confirmPassword = $("#ConfirmPassword").val();
                if (password != confirmPassword) {
                    $.notify('Passwords do not match.', { type: "warning" });
                    return false;
                }
                return true;
            }



            // enable parselyjs validation on dynamic loaded  forms
            $("#SelectedUserId").change(function () {
                //alert($('option:selected', $(this)).text());
                //alert($(this).val());
                if ($(this).val() != '') {
                    $("#ReferralId").val($(this).val());
                }

            });
            $('#form-manage-guest').submit(function (e) {
                debugger;
                e.preventDefault();
                debugger;
                var isFormValid = $(this).parsley().isValid();
                console.log('IsFormValid:' + isFormValid);

                var buttonText = $('#btnSave').html();
                $('#btnSave').attr('disabled', '').html('<i class="fa fa-spinner fa-spin"></i>&nbsp; ' + buttonText);

                if (isFormValid) {
                    $.ajax({
                        type: 'POST',
                        url: '/users/manage-guest',
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data.success) {
                                //$('#edit-location').modal('hide');
                                $('#form-manage-guest').trigger("reset");
                                $.notify('Record saved successfully', { type: "success" });
                                window.location.href = '/users/guests';
                            }
                            else {
                                console.log('data.message', data.message);
                                // display a error toast
                                $.notify(data.message, { type: "warning" });

                            }
                            $('#btnSave').attr('disabled', null).html('Save');
                        },
                        error: function (error) {
                            console.log(error);
                            $('#btnSave').attr('disabled', null).html('Save');
                        }
                    });
                }
                else {
                    //console.log(error);
                    $('#btnSave').attr('disabled', null).html('Save');
                }
            });
        });
    </script>
}

