﻿
@{
    ViewData["Title"] = "MyPoints";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-12">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">My Total Points</div>
                            <div class="col-md-6">@ViewBag.MyPoints</div>
                        </div>                    
                    </div>                    
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</main>
