﻿@model MLMSystem.Models.RegisterModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Register</title>
    <link href="~/dist/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <link href="~/lib/notification/css/notify.css" rel="stylesheet" />
    <link href="~/lib/notification/css/prettify.css" rel="stylesheet" />
    <link href="~/lib/sweetalert/dist/sweetalert.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-multilselect/example-styles.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/common.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/dist/js/scripts.js"></script>
    <script src="~/lib/parsleyjs/dist/parsley.js"></script>
    <script src="~/lib/notification/js/notify.js"></script>
    <script src="~/lib/notification/js/prettify.js"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/jquery-multilselect/jquery.multi-select.js"></script>
    <script src="~/js/Common/common.js"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                <div class="card-body">
                                    <form id="form-register" asp-action="Register" asp-controller="Users" method="post" role="form"
                                          data-parsley-validate="" novalidate=""
                                          data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
                                          data-parsley-trigger="keyup" data-parsley-errors-messages-disabled>
                                        @Html.AntiForgeryToken()
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" asp-for="Mobile">Mobile</label>
                                                    <input class="form-control py-4" asp-for="Mobile" aria-describedby="emailHelp" required="required" placeholder="Enter mobile no" data-parsley-validation-threshold="1" data-parsley-trigger="keyup"
                                                       maxlength="10"    data-parsley-type="digits" data-parsley-maxlength="10" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" asp-for="Email">Email</label>
                                                    <input class="form-control py-4" asp-for="Email" type="email" aria-describedby="emailHelp" required="required" placeholder="Enter email address" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" asp-for="ReferralId">Referral Id</label>
                                                    <input readonly class="form-control py-4" asp-for="ReferralId" type="text" required="required" placeholder="Enter referral id" data-parsley-validation-threshold="1" data-parsley-trigger="keyup"
                                                           data-parsley-type="digits" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1"></label>
                                                    <label style="margin-top:40px;" id="ReferralName" class="small mb-1"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" asp-for="FirstName">First Name</label>
                                                    <input class="form-control py-4" asp-for="FirstName" type="text" required="required" placeholder="Enter first name" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" asp-for="LastName">Last Name</label>
                                                    <input class="form-control py-4" asp-for="LastName" type="text" required="required" placeholder="Enter last name" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="small mb-1" asp-for="CountryId">Country</label>
                                                    <select asp-for="CountryId" required="required" asp-items="Model.Countries" class="form-control sub-info"></select>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                <label class="small mb-1" asp-for="Email">Email</label>
                                                <input class="form-control py-4" asp-for="Email" type="email" aria-describedby="emailHelp" required="required" placeholder="Enter email address" />
                                            </div>*@
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" asp-for="Password">Password</label>
                                                    <input class="form-control py-4" data-parsley-minlength="6" data-parsley-minlength-message="Min lenght is 6 character" asp-for="Password" data-equalto="#ConfirmPassword" name="ConfirmPassword" type="password" required="required" placeholder="Enter password" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" asp-for="ConfirmPassword">Confirm Password</label>
                                                    <input class="form-control py-4" asp-for="ConfirmPassword" data-equalto="#Password" name="Password" type="password" required="required" placeholder="Confirm password" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mt-4 mb-0">
                                            <button id="btnSave" class="btn btn-primary btn-block">Create Account</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small"><a href="login">Have an account? Go to login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2019</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <link href="~/lib/notification/css/notify.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/lib/notification/css/prettify.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <script src="~/dist/js/scripts.js"></script>
    <script src="~/lib/parsleyjs/dist/parsley.js"></script>
    <script src="~/lib/notification/js/notify.js"></script>
    <script src="~/lib/notification/js/prettify.js"></script>
    <script>

        debugger;
        $('#ReferralId').val('');
        $('#Mobile').focus().select();

        var isEmailExist = false;
        var isRefferalExist = false;
        var isMobileExist = false;

        $('#Email').blur(function () {

            checkEmail();
        });

        var checkEmail = function () {
            debugger;
            if ($('#Email').val().length > 0 && $('#Email').val() != '') {
                $.get("/Users/CheckIfEmailAlreadyExists/" + $('#Email').val(), function (data) {
                    if (data.success) {
                        
                        if (data.isExist) {
                            if (data.userType == 2 || data.userType ==1) {
                                $('#Email').val('')
                                $('#Email').focus().select();
                                 $.notify('User already exist', { type: "warning" });
                                return false;
                            }
                            $('#ReferralId').val(data.referralId);
                            $('#Mobile').val(data.mobile);
                            $('#FirstName').val(data.firstName);
                            $('#LastName').val(data.lastName);
                            $('#ReferralName').text(data.referralName);
                            $('#ReferralId').attr('readonly', true); 
                            //$.notify('Email already exist', { type: "warning" });
                            //$('#Email').val('');
                            //$('#Email').focus().select();
                            //isEmailExist = true;
                            isExist = true;
                            return false;
                        }
                        else {
                            isEmailExist = false;
                            $('#ReferralId').val('');
                            if (isExist) {
                                $('#Mobile').val('');
                            }
                            isExist = false;
                            $('#ReferralName').text('');
                            $('#ReferralId').attr('readonly', false); 
                            $('#FirstName').val('');
                            $('#LastName').val('');
                        }
                    }

                });
            }
        }

        $('#Mobile').blur(function () {
            checkMobile();
        });

        var isExist = false;

        var checkMobile = function () {
            debugger;
            if ($('#Mobile').val().length > 0 && $('#Mobile').val() != '') {
                $.get("/Users/CheckIfMobileAlreadyExists/" + $('#Mobile').val(), function (data) {
                    if (data.success) {
                        console.log(data);
                        if (data.isExist) {
                            if (data.userType == 2 || data.userType ==1) {
                                $('#Mobile').val('')
                                $('#Mobile').focus().select();
                                 $.notify('User already exist', { type: "warning" });
                                return false;
                            }
                            $('#ReferralId').val(data.referralId);
                            $('#Email').val(data.email);
                            $('#FirstName').val(data.firstName);
                            $('#LastName').val(data.lastName);
                                                        
                            $('#ReferralName').text(data.referralName);
                            $('#ReferralId').attr('readonly', true); 
                            //$.notify('Mobile already exist', { type: "warning" });
                            //$('#Mobile').val('')
                            //$('#Mobile').focus().select();
                            //isMobileExist = true;
                            isExist = true;
                            return false;
                        }
                        else {
                            debugger;
                            isMobileExist = false;
                            $('#ReferralId').val('');
                            if (isExist) {
                                $('#Email').val('');  
                            }
                            isExist = false;
                                                                                  
                            $('#ReferralName').text('');
                            $('#ReferralId').attr('readonly', false); 
                            $('#FirstName').val('');
                            $('#LastName').val('');
                        }
                    }

                });
            }
        }

        $('#ReferralId').blur(function () {
            checkRefferal();
        });

        var checkRefferal = function () {
            debugger;
            if ($('#ReferralId').val().length > 0 && $('#ReferralId').val() != '') {
                $.get("/Users/CheckIfRefferalAlreadyExists/" + $('#ReferralId').val(), function (data) {
                    if (data.success) {
                        if (data.isExist) {
                            isRefferalExist = true;
                            return false;
                        }
                        else {
                            isRefferalExist = false;
                            $.notify('Refferal not exist', { type: "warning" });
                            $('#ReferralId').val('');
                            $('#ReferralId').focus().select();

                            return true;
                        }
                    }

                });
            }
        }

        $('#ConfirmPassword').blur(function () {
            var password = $("#Password").val();
            var confirmPassword = $("#ConfirmPassword").val();
            if (password != '') {
                //alert(password);
                //alert(confirmPassword);
                if (password != confirmPassword) {
                    $.notify('Passwords does not match.', { type: "warning" });
                    //alert("Passwords do not match.");
                    return false;
                }
            }

            return true;
        });

        function validatePassword() {
            var password = $("#Password").val();
            var confirmPassword = $("#ConfirmPassword").val();
            if (password != confirmPassword) {
                $.notify('Passwords do not match.', { type: "warning" });
                return false;
            }
            return true;
        }

        $('#form-register').submit(function (e) {
            e.preventDefault();
            if (!validatePassword()) {
                return;
            };

            var isFormValid = $(this).parsley().isValid();
            console.log('IsFormValid:' + isFormValid);

            //if (isEmailExist) {
            //    $.notify('Email already exist', { type: "warning" });
            //    return false;
            //}

            //if (isMobileExist) {
            //    $.notify('Mobile already exist', { type: "warning" });
            //    return false;
            //}

            //if (!isRefferalExist) {
            //    $.notify('Referral not exist', { type: "warning" });
            //    return false;
            //}

            var buttonText = $('#btnSave').html();
            $('#btnSave').attr('disabled', '').html('<i class="fa fa-spinner fa-spin"></i>&nbsp; ' + buttonText);

            if (isFormValid) {
                $.ajax({
                    type: 'POST',
                    url: '/Users/Register',
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.success) {
                            //$('#edit-location').modal('hide');
                            $('#form-register').trigger("reset");
                            $.notify('Registered successfully', { type: "success" });
                            window.location = '/users/login';
                            // window.location.replace("http://www.w3schools.com");
                        }
                        else {
                            console.log('data.message', data.message);
                            // display a error toast
                            $.notify(data.message, { type: "warning" });

                        }
                        $('#btnSave').attr('disabled', null).html('Save');
                    },
                    error: function (error) {
                        console.log(error);
                        $('#btnSave').attr('disabled', null).html('Save');
                    }
                });
            }
            else {
                //console.log(error);
                $('#btnSave').attr('disabled', null).html('Save');
            }
        });
    </script>
</body>
</html>
