﻿@model MLMSystem.Models.RegisterModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="admin-profile-content-modal" tabindex="-1" role="dialog" aria-labelledby="add-user-label" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-lg modal-width-100">
        <form id="form-update-user-profile" data-parsley-validate="" novalidate="" data-ajax="true" data-ajax-mode="replace"
              data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
              data-parsley-trigger="keyup" data-parsley-errors-messages-disabled>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit User</h4>
                    <button type="button" class="close red-btn" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="UserId" type="hidden" />
                                <label class="small mb-1" asp-for="ReferralId">Referral Id</label>
                                <input class="form-control py-4" asp-for="ReferralId" type="text" required="required" placeholder="Enter referral id" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" asp-for="FirstName">First Name</label>
                                <input class="form-control py-4" asp-for="FirstName" type="text" required="required" placeholder="Enter first name" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" asp-for="LastName">Last Name</label>
                                <input class="form-control py-4" asp-for="LastName" type="text" required="required" placeholder="Enter last name" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1" asp-for="CountryId">Country</label>
                                <select asp-for="CountryId" required="required" asp-items="Model.Countries" class="form-control sub-info"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" asp-for="Mobile">Mobile</label>
                                <input class="form-control py-4" asp-for="Mobile" aria-describedby="emailHelp" required="required" placeholder="Enter mobile no" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" asp-for="Email">Email</label>
                                <input class="form-control py-4" asp-for="Email" type="email" aria-describedby="emailHelp" required="required" placeholder="Enter email address" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>

    $(document).ready(function () {
        debugger;
        // enable parselyjs validation on dynamic loaded  forms
        $('#form-update-user-profile').parsley();

        $('#Email').blur(function () {
            checkEmail();
        });

        var checkEmail = function () {
            if ($('#Email').val().length > 0 && $('#Email').val() != '') {
                $('#btnSave').attr('disabled', '').html('Save');
                $(".modal-content").addClass("whirl traditional");
                $.get("/Users/CheckIfEmailAlreadyExists/" + $('#Email').val() + "/" + $('#UserId').val(), function (data) {
                    if (data.success) {
                        if (data.isExist) {
                            $.notify('Email already exist', { type: "warning" });
                            return false;
                        }
                        //$("#Email").focus().select();
                    }
                    $('#btnSave').attr('disabled', null).html('Save');
                    $(".modal-content").removeClass("whirl traditional");
                });
            }
        }

        $('#form-update-user-profile').submit(function (e) {
            debugger;
            e.preventDefault();
            //validatePassword();
            //var result = checkEmail();
            //checkLocationName();
            debugger;
            var isFormValid =$(this).parsley().isValid();
            console.log('IsFormValid:' + isFormValid);

            var buttonText = $('#btnSave').html();
            $('#btnSave').attr('disabled', '').html('<i class="fa fa-spinner fa-spin"></i>&nbsp; ' + buttonText);

            if (isFormValid) {
                $.ajax({
                    type: 'POST',
                    url: '/Users/Register',
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.success) {
                            //$('#edit-location').modal('hide');
                            $('#form-update-user-profile').trigger("reset");
                            $.notify('Registered successfully', { type: "success" });

                            window.location.href = '/users/login';

                        }
                        else {
                            console.log('data.message', data.message);
                            // display a error toast
                            $.notify(data.message, { type: "warning" });

                        }
                        $('#btnSave').attr('disabled', null).html('Save');
                    },
                    error: function (error) {
                        console.log(error);
                        $('#btnSave').attr('disabled', null).html('Save');
                    }
                });
            }
            else {
                //console.log(error);
                $('#btnSave').attr('disabled', null).html('Save');
            }
        });
    });
</script>