﻿@model MLMSystem.Models.UpgradeModel
@{
    ViewData["Title"] = "UpgradeProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Upgrade Profile</h3></div>
                    <div class="card-body">
                        @if (Model.PinList.Count > 1)
                        {
                        <form id="form-upgradeProfile" asp-action="UpgradeProfile" asp-controller="Users" method="post" role="form"
                              data-parsley-validate="" novalidate=""
                              data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
                              data-parsley-trigger="keyup" data-parsley-errors-messages-disabled>
                            @Html.AntiForgeryToken()
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="PinId">Select Pin:</label>
                                        <select asp-for="PinId" required="required" asp-items="Model.PinList" class="form-control sub-info"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0">
                                <button id="btnSave" class="btn btn-primary btn-block">Save</button>
                            </div>
                        </form>
                        } else
                        {
                            <span>You don't have any Pin. Please <a href="manage-pin-request">click here</a> to request pins.</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    <script>
        $(document).ready(function () {

            $('#form-upgradeProfile').parsley();

            $('#form-upgradeProfile').submit(function (e) {
                e.preventDefault();
                var isFormValid = $(this).parsley().isValid();
                console.log('IsFormValid:' + isFormValid);

                var buttonText = $('#btnSave').html();
                $('#btnSave').attr('disabled', '').html('<i class="fa fa-spinner fa-spin"></i>&nbsp; ' + buttonText);

                if (isFormValid) {
                    $.ajax({
                        type: 'POST',
                        url: '/users/upgradeProfile',
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data.success) {
                                //$('#edit-location').modal('hide');
                                $('#form-upgradeProfile').trigger("reset");
                                $.notify('Profile Upgraded successfully', { type: "success" });

                                window.location.href = '/users/profile';

                            }
                            else {
                                console.log('data.message', data.message);
                                // display a error toast
                                $.notify(data.message, { type: "warning" });

                            }
                            $('#btnSave').attr('disabled', null).html('Save');
                        },
                        error: function (error) {
                            console.log(error);
                            $('#btnSave').attr('disabled', null).html('Save');
                        }
                    });
                }
                else {
                    //console.log(error);
                    $('#btnSave').attr('disabled', null).html('Save');
                }
            });
        });
    </script>
}

