﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyEmail</title>
</head>
<body>
    <div class="row">
        <div class="col-md-12">

            @if (@ViewBag.Message == "No account found")
            {
                <div>
                    You have no account here. Thanks
                </div>
            }
            @if (@ViewBag.Message == "Email already verified")
            {
                <div>
                    Your email is already verified. You can login <a href="@ViewBag.LoginUrl">here</a>
                </div>
            }
            @if (@ViewBag.Message == "Email verified successfully")
            {
                <div>
                    Your email is successfull verified. You can login <a href="@ViewBag.LoginUrl">here</a>
                </div>
            }
        </div>
        @*<div class="col-md-12">
                @ViewBag.Message
            </div>*@
    </div>

</body>
</html>
