﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4"></h1>
        <div class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fas fa-table mr-1"></i>My Withdrawl Requests
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="mb-sm btn btn-primary" href="/users/manage-withdrawl-request" title="Create New">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-md-6 text-right">

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatableWithdrawlRequests" class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Transaction Id</th>
                                <th>Point</th>
                                <th>Comment</th>
                                <th>Status</th>
                                <th>Requested Date</th>
                                <th>Action Date</th>
                                @*<th style="width:10%" class="content-centered">Actions</th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    @using (Html.BeginForm("my-withdrawl-requests", "Users", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                </div>
            </div>
        </div>
    </div>
</main>
@section BodyArea {
    <div id="user-content">
        <!--load via ajax-->
    </div>
}


@section Scripts {

    <script>
        $(document).ready(function () {
            $(function () {
    //setup ajax error handling
            $.ajaxSetup({
                error: function (x, status, error) {
                    if (x.status == 403) {
                        alert("Sorry, your session has expired. Please login again to continue");
                        window.location.href ="/users/Login";
                    }
                    else {
                        alert("An error occurred: " + status + "nError: " + error);
                    }
                }
            });
        });
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();

        var table = $("#datatableWithdrawlRequests").DataTable({
            "language": {
                "emptyTable": "No request found."
                ,
                "search": "Search"
            },
            "searching": true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bSortCellsTop": true,
            "ajax": {
                "url": '@Url.Action("GetWithdrawlRequests", "Users")',
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    // pass extra information with the post object
                    d.__RequestVerificationToken = token;
                    return d;
                }
            },
            "lengthMenu": [[10, 25, 50, 100, 200, 500, -1], [10, 25, 50, 100, 200, 500, "All"]],
           "order": [[3, "desc"]],
            //"columnDefs": [
            //    { targets: [0,1,2,3], orderable: false }
            //],
            "columns": [
                {
                    mRender: function (data, type, row) {
                        return 'WR10000' + row.requestId;
                    },
                    sClass: "content-centered"
                },
                { "data": "point", "name": "Point" },
                { "data": "comment", "name": "Comment" },
                { "data": "requestStatus", "name": "Status" },
                { "data": "requestedDate", "name": "Requested Date" },
                { "data": "actionDate", "name": "Action Date" }

                //,

                //{
                //    mRender: function (data, type, row) {

                //        var links =
                //            '<a href="/users/manage-guest/' + row.userId + '" data-toggle="tooltip" title="Edit Guest" class="edit-guest" style="text-decoration:none;"  data-id="' + row.userId + '"><i class="fas fa-edit"></i></a>&nbsp;' +
                //            '<a href="#" data-toggle="tooltip" title="Delete Guest" class="delete-guest" style="text-decoration:none;"  data-id="' + row.userId + '"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                //        return links;

                //    },
                //    sClass: "content-centered"
                //}
            ]
        });

        $(document).on('click', '.delete-guest', function (e) {
            e.preventDefault();

            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            var id = $(this).data("id");
            var url = '@Url.Action("delete-guest", "users", new { id = 0 })';
            url = url.replace("0", id);

            swal({
                title: "Are you sure?",
                text: 'Clicking "Yes" will permanently delete the item.',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                closeOnConfirm: true,
                showLoaderOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function (data) {
                    if (data.success) {
                        $.notify('Guest deleted successfully', { type: "success" });
                        // reload the datatable
                        $("#datatableWithdrawlRequests").DataTable().ajax.reload();
                    }
                    else {
                        $.notify(data.message, { type: "warning" });
                    }
                }
                });
            });
        });
    });
    </script>
}

