﻿@model MLMSystem.Models.AppUserModel
@{
    ViewData["Title"] = "CreateApp";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var activeApps = ViewBag.ActiveApps;
}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Assign App To User</h3></div>
                    <div class="card-body">
                        <form id="form-profile" asp-action="SetApps" asp-controller="Admin" method="post" role="form"
                              data-parsley-validate="" novalidate=""
                              data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
                              data-parsley-trigger="keyup" data-parsley-errors-messages-disabled>
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input asp-for="AppUserId" type="hidden" />
                                        @*<input disabled class="form-control py-4" asp-for="ReferralId" type="text" required="required" placeholder="Enter referral id" />*@
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="FirstName">First Name</label>
                                        <input class="form-control py-4" asp-for="FirstName" type="text" required="required" placeholder="Enter first name" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="LastName">Last Name</label>
                                        <input class="form-control py-4" asp-for="LastName" type="text" required="required" placeholder="Enter last name" />
                                    </div>
                                </div>
                            </div>*@
                            <div class="form-row">
                                <div class="col-md-12">
                                    <select id="apps" name="apps" required="required" asp-items="Model.Apps" multiple>
                                    </select>



                                    @*<div class="form-group">
                                        <label class="small mb-1" asp-for="UserId">Users</label>
                                        <input type="checkbox" asp-for="UserId" required="required" asp-items="Model.Users" class="form-control sub-info"></input>
                                    </div>*@
                                </div>
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="UserId">Users</label>
                                        <select asp-for="UserId" required="required" asp-items="Model.Users" class="form-control sub-info"></select>
                                    </div>
                                </div>*@
                            </div>
                            @*<div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Mobile">Mobile</label>
                                        <input class="form-control py-4" asp-for="Mobile" aria-describedby="emailHelp" required="required" placeholder="Enter mobile no" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Email">Email</label>
                                        <input class="form-control py-4" asp-for="Email" type="email" aria-describedby="emailHelp" required="required" placeholder="Enter email address" />
                                    </div>
                                </div>
                            </div>*@
                            <div class="form-group mt-4 mb-0">
                                <button id="btnSave" class="btn btn-primary btn-block">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="table-responsive">
            <table id="datatableApps" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Link</th>
                        <th>Points</th>
                        <th style="width:10%" class="content-centered">Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            @using (Html.BeginForm("loadapps", "apps", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
            {
                @Html.AntiForgeryToken()
            }
        </div>*@

        <div class="table-responsive">
            <table id="tableActiveApps" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Active Links</th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ActiveApps)
                    {
                        <tr data-id="@item.Value">
                            <td>@item.Text</td>                           
                        </tr>
                    }
                </tbody>
            </table>
            @using (Html.BeginForm("loadapps", "apps", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
            {
                @Html.AntiForgeryToken()
            }
        </div>
    </div>

    @using (Html.BeginForm("SetApps", "Admin", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }
</main>
@section Scripts {
    <script>
        $(document).ready(function () {

            $('#apps').multiSelect();

            var selectedOptions = new Array(); 

            @foreach (var d in Model.ActiveApps.Select(x=>x.Value))
            {
                @:selectedOptions.push("@d");
            }

            //$("select").multiselect("widget").find(":checkbox").each(function(){
            //if(jQuery.inArray(this.value, selectedOptions) !=-1)
            //        this.click();

            //});'

    //        for(var i in selectedOptions) {
    //var optionVal = selectedOptions[i];
    //            $("select").find("option[value=" + optionVal + "]").prop("selected", "selected");

    //        }

            console.log('selectedOptions',selectedOptions);

             $('#apps').val(selectedOptions);

            //$("select").multiselect('reload');

            //$('#apps').val(selectedOptions);

            //$('#apps').multiSelect('select', selectedOptions);

            //$("#apps").val(selectedOptions);

            // Then refresh

            //$("#apps").multiselect("refresh");

            //alert(selectedOptions);

            $('#btnSave').on('click', function (e) {
                debugger;
                e.preventDefault();
                var url = '@Url.Action("SetApps", "Admin")';
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { SelectedIds: $($('#apps')).val(), __RequestVerificationToken: token },
                    success: function (data) {
                        if (data.success) {
                            $.notify('Apps activated successfully', { type: "success" });
                            debugger;
                           // $.notify({ message: "Sucessfully saved." }, { status: 'success' });
                            //$('#datatableApps').DataTable().ajax.reload();
                            $("#tableActiveApps > tbody").html('');
                            $.each( data.activeApps, function( key, value ) {
                                //alert(key + ": " + value);
                                $("#tableActiveApps > tbody").append(`<tr data-id='` + value.appId + `'>
                                    <td>  ` + value.text + ` </td>
                                </tr>`);
                            });
                        }
                        else {
                            // display a error toast
                            $.notify({ message: data.message }, { status: 'warning' });
                        }
                    }
                });
            });

                
    });
    </script>
}