﻿@model MLMSystem.Models.SaveAppModel
@{
    ViewData["Title"] = "CreateApp";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create App</h3></div>
                    <div class="card-body">
                        <form id="form-create-app" asp-action="CreateApp" asp-controller="Admin" method="post" role="form"
                              data-parsley-validate="" novalidate=""
                              data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
                              data-parsley-trigger="keyup" data-parsley-errors-messages-disabled>
                            @Html.AntiForgeryToken()
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input asp-for="AppId" type="hidden" />
                                        <label class="small mb-1" asp-for="Name">Name</label>
                                        <input class="form-control py-4" asp-for="Name" type="text" required="required" placeholder="Enter name" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Description">Description</label>
                                        <input class="form-control py-4" asp-for="Description" type="text" required="required" placeholder="Enter description" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Link">Link</label>
                                        <input class="form-control py-4" asp-for="Link" parsley-type="url" type="text" aria-describedby="emailHelp" required="required" placeholder="Enter link" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Point">Point</label>
                                        <input class="form-control py-4" asp-for="Point" type="text" aria-describedby="emailHelp" data-parsley-validation-threshold="1" data-parsley-trigger="keyup" 
    data-parsley-type="digits" required="required" placeholder="Enter point" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0">
                                <button id="btnSave" class="btn btn-primary btn-block">Save App</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    <script>
        $(document).ready(function () {

            $('#form-create-app').parsley();

            $('#form-create-app').submit(function (e) {                
                debugger;
                e.preventDefault();
                debugger;
                var isFormValid = $(this).parsley().isValid();
                console.log('IsFormValid:' + isFormValid);

                var buttonText = $('#btnSave').html();
                $('#btnSave').attr('disabled', '').html('<i class="fa fa-spinner fa-spin"></i>&nbsp; ' + buttonText);

                if (isFormValid) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/create-app',
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data.success) {
                                //$('#edit-location').modal('hide');
                                $('#form-create-app').trigger("reset");
                                $.notify('Record saved successfully', { type: "success" });

                                window.location.href = '/admin/apps';

                            }
                            else {
                                console.log('data.message', data.message);
                                // display a error toast
                                $.notify(data.message, { type: "warning" });

                            }
                            $('#btnSave').attr('disabled', null).html('Save');
                        },
                        error: function (error) {
                            console.log(error);
                            $('#btnSave').attr('disabled', null).html('Save');
                        }
                    });
                }
                else {
                    //console.log(error);
                    $('#btnSave').attr('disabled', null).html('Save');
                }
            });
        });
    </script>
}