﻿@model MLMSystem.Models.SaveGeneralSettingModel
@{
    ViewData["Title"] = "CreateApp";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">General Settings</h3></div>
                    <div class="card-body">
                        <form id="form-create-generalsettings" asp-action="GeneralSettings" asp-controller="Admin" method="post" role="form"
                              data-parsley-validate="" novalidate=""
                              data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
                              data-parsley-trigger="keyup" data-parsley-errors-messages-disabled>
                            @Html.AntiForgeryToken()
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input asp-for="SettingId" type="hidden" />
                                        <label class="small mb-1" asp-for="PinValue">Pin Value</label>
                                        <input class="form-control py-4" asp-for="PinValue" type="text" required="required" placeholder="Pin Value" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="AppClickCommission">App Click Commission</label>
                                        <input class="form-control py-4" asp-for="AppClickCommission" type="text" required="required" placeholder="App Click Commission" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="RegistrationCommision">Registration Commision</label>
                                        <input class="form-control py-4" asp-for="RegistrationCommision" parsley-type="url" type="text" aria-describedby="emailHelp" required="required" placeholder="Registration Commision" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0">
                                <button id="btnSave" class="btn btn-primary btn-block">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    <script>
        $(document).ready(function () {

            $('#form-create-generalsettings').parsley();

            $('#form-create-generalsettings').submit(function (e) {
                e.preventDefault();
                var isFormValid = $(this).parsley().isValid();
                console.log('IsFormValid:' + isFormValid);

                var buttonText = $('#btnSave').html();
                $('#btnSave').attr('disabled', '').html('<i class="fa fa-spinner fa-spin"></i>&nbsp; ' + buttonText);

                if (isFormValid) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/update-generalsettings',
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data.success) {
                                //$('#edit-location').modal('hide');
                                $('#form-create-generalsettings').trigger("reset");
                                $.notify('Settings Updated successfully', { type: "success" });

                                window.location.href = '/admin/settings';

                            }
                            else {
                                console.log('data.message', data.message);
                                // display a error toast
                                $.notify(data.message, { type: "warning" });

                            }
                            $('#btnSave').attr('disabled', null).html('Save');
                        },
                        error: function (error) {
                            console.log(error);
                            $('#btnSave').attr('disabled', null).html('Save');
                        }
                    });
                }
                else {
                    //console.log(error);
                    $('#btnSave').attr('disabled', null).html('Save');
                }
            });
        });
    </script>
}