﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Manange Apps</h1>
        <div class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fas fa-table mr-1"></i>Apps
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="mb-sm btn btn-primary active-all" title="Active apps">
                            Active All
                        </a>
                        <a class="mb-sm btn btn-primary" href="/admin/create-app" title="Create new app">
                            @*<i class="fa fa-plus" aria-hidden="true"></i>*@
                            Create New
                        </a>
                    </div>
                    <div class="col-md-6 text-right">

                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatableApps" class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="select_all" value="1" id="example-select-all">Select</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Link</th>
                                <th>Points</th>
                                <th style="width:10%" class="content-centered">Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    @using (Html.BeginForm("loadapps", "apps", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                </div>
            </div>
        </div>
    </div>
</main>
@section BodyArea {
    <div id="user-content">
        <!--load via ajax-->
    </div>
}

@section Scripts {

    <script>
        $(document).ready(function () {

        var selectedApps = [];
        var uniqueApps = [];

            // Handle click on "Select all" control
            $('#example-select-all').on('click', function () {
                debugger;
            // Get all rows with search applied
            var rows = table.rows().nodes();
            // Check/uncheck checkboxes for all rows in the table
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
            //$.each(rows, function(i, el){
            //    console.log('el',el);
            //});
                if (this.checked) {
                    $.each($("input[name='active']:checked"),
                        function () {
                            selectedApps.push($(this).val());
                            console.log($(this).val());
                        });
                }
                else {
                    selectedApps = [];
                }


        });

        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();

        var table = $("#datatableApps").DataTable({
            "language": {
                "emptyTable": "No app found."
                ,
                "search": "Search"
            },
            "searching": true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bSortCellsTop": true,
            "ajax": {
                "url": '@Url.Action("loadapps", "admin")',
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    // pass extra information with the post object
                    d.__RequestVerificationToken = token;
                    return d;
                }
            },
            "lengthMenu": [[10, 25, 50, 100, 200, 500, -1], [10, 25, 50, 100, 200, 500, "All"]],
            "order": [[1, "asc"]],
            "columnDefs": [
                { targets: [0,5], orderable: false }
            ],
            "columns": [
                {
                    mRender: function (data, type, row) {
                        if (row.active) {
                            selectedApps.push(row.appId);
                        }

                        uniqueApps = unique(selectedApps);
                        selectedApps = uniqueApps;
                        var checked = row.active == 1 ? "checked=''" : "";
                        return "<div><label><input name='active' class='activate-app' type='checkbox'" + checked + " value='" + row.appId + "'></label ></div>";
                    },
                    sClass: "content-centered"
                },
                { "data": "name", "name": "Name" },
                { "data": "description", "name": "Description" },
                { "data": "link", "name": "Link" },
                { "data": "point", "name": "Point" },

                {
                    mRender: function (data, type, row) {

                        var links =
                            '<a href="#" data-toggle="tooltip" title="Edit User" class="edit-app" style="text-decoration:none;"  data-id="' + row.appId + '"><i class="fas fa-edit"></i></a>&nbsp;' +
                            '<a href="#" data-toggle="tooltip" title="Delete User" class="delete-app" style="text-decoration:none;"  data-id="' + row.appId + '"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                        return links;

                    },
                    sClass: "content-centered"
                }
            ]
        });

        table.on('draw', function () {
            var rows = table.rows().nodes();

            $.each($("input[name='active']"),
                function () {
                    if ($(this).prop("checked")) {
                        $('#example-select-all').prop("checked", true)
                    }
                    else {
                        $('#example-select-all').prop("checked", false)
                        return false;
                    }
                });
        });

        var unique=function getDistinctArray(arr) {
            var dups = {};
            return arr.filter(function(el) {
                var hash = el.valueOf();
                var isDup = dups[hash];
                dups[hash] = true;
                return !isDup;
            });
        }

        $(document).on('click', '.active-all', function (e) {
                e.preventDefault();
                var url = '@Url.Action("SetApps", "Admin")';
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                uniqueApps = unique(selectedApps);

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { SelectedIds: uniqueApps, __RequestVerificationToken: token },
                    success: function (data) {
                        if (data.success) {
                            if ($('#example-select-all').checked) {
                                $.notify('All apps activated successfully', { type: "success" });
                            }
                            else {
                                $.notify('All apps deactivated successfully', { type: "success" });
                                $('#datatableApps').DataTable().ajax.reload();
                            }
                            
                        }
                        else {
                            // display a error toast
                            $.notify({ message: data.message }, { status: 'warning' });
                        }
                    }
                });
            });

        $(document).on('click', '.activate-app', function (e) {

            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();

            if ($(this).is(":checked")) {
                selectedApps.push(
                    $(this).val()
                );
            }
            else {
                selectedApps.splice( $.inArray($(this).val(), selectedApps), 1 );
            }

            uniqueApps = unique(selectedApps);
            selectedApps = uniqueApps;

            var rows = table.rows().nodes();

            $.each($("input[name='active']"),
                function () {
                    if ($(this).prop("checked")) {
                        $('#example-select-all').prop("checked", true)
                    }
                    else {
                        $('#example-select-all').prop("checked", false)
                        return false;
                    }
                });

            var url = '@Url.Action("ActivateApp", "Admin")';
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { AppId: $(this).val(), Selected:$(this).prop("checked"), __RequestVerificationToken: token },
                    success: function (data) {
                        if (data.success) {
                            $.notify('Apps activated successfully', { type: "success" });
                        }
                        else {
                            // display a error toast
                            $.notify({ message: data.message }, { status: 'warning' });
                        }
                    }
                });
        });

        $(document).on('click', '.delete-app', function (e) {
            e.preventDefault();

            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            var id = $(this).data("id");
            var url = '@Url.Action("delete-app", "admin", new { id = 0 })';
            url = url.replace("0", id);

            swal({
                title: "Are you sure?",
                text: 'Clicking "Yes" will permanently delete the item.',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                closeOnConfirm: true,
                showLoaderOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function (data) {
                    if (data.success) {
                        $.notify('App deleted successfully', { type: "success" });
                        // reload the datatable
                        $("#datatableApps").DataTable().ajax.reload();
                    }
                    else {
                        $.notify(data.message, { type: "warning" });
                    }
                }
                });
            });
        });

        $(document).on('click', '.edit-app', function (e) {
            $("#datatableApps").addClass("whirl traditional loader-fixed");
            var id = $(this).data("id");
            var url = '@Url.Action("create-app", "admin", new { id = 0 })';
            url = url.replace('0', id);
            window.location.href = url;
        });
    });
    </script>
}

