﻿@model MLMSystem.Models.UserProfileModel
@{
    ViewData["Title"] = "CreateApp";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Profile</h3></div>
                    <div class="card-body">
                        <form id="form-profile" asp-action="UpdateProfile" asp-controller="Admin" method="post" role="form"
                              data-parsley-validate="" novalidate=""
                              data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
                              data-parsley-trigger="keyup" data-parsley-errors-messages-disabled>
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="ReferralId">Referral Id</label>
                                        <input disabled class="form-control py-4" asp-for="ReferralId" type="text" required="required" placeholder="Enter referral id" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="FirstName">First Name</label>
                                        <input class="form-control py-4" asp-for="FirstName" type="text" required="required" placeholder="Enter first name" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="LastName">Last Name</label>
                                        <input class="form-control py-4" asp-for="LastName" type="text" required="required" placeholder="Enter last name" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="CountryId">Country</label>
                                        <select asp-for="CountryId" required="required" asp-items="Model.Countries" class="form-control sub-info"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Mobile">Mobile</label>
                                        <input class="form-control py-4" asp-for="Mobile" aria-describedby="emailHelp" required="required" placeholder="Enter mobile no" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" asp-for="Email">Email</label>
                                        <input class="form-control py-4" asp-for="Email" type="email" aria-describedby="emailHelp" required="required" placeholder="Enter email address" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0">
                                <button id="btnSave" class="btn btn-primary btn-block">Save Profile</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    <script>
        $(document).ready(function () {

            $('#form-profile').parsley();

            // enable parselyjs validation on dynamic loaded  forms

            //get states
            var getStates = function (id) {
                let dropdown = $('#State');
                dropdown.empty();
                $.ajax({
                    type: 'GET',
                    url: '/api/Common/GetStates/' + id,
                    success: function (data) {
                        dropdown.append('<option value="">' + (data.length > 0 ? 'Choose State' : 'N/A') + '</option>');
                        dropdown.prop('selectedIndex', 0);

                        // apply conditional parsley validation on State or OtherState
                        if (data.length > 0) {
                            $.each(data, function (key, item) {
                                dropdown.append($('<option></option>').attr('value', item.value).text(item.text));
                            });

                            $('#State').attr('data-parsley-required', 'true');
                            $('#OtherState').attr('data-parsley-required', 'false');
                        }
                        else {
                            $('#State').attr('data-parsley-required', 'false');
                            $('#OtherState').attr('data-parsley-required', 'true');
                        }

                        //reinitialize parsley
                        $('#user-form').parsley();
                    }
                });
            };

            $('#form-profile').submit(function (e) {
                debugger;
                e.preventDefault();
                debugger;
                var isFormValid = $(this).parsley().isValid();
                console.log('IsFormValid:' + isFormValid);

                var buttonText = $('#btnSave').html();
                $('#btnSave').attr('disabled', '').html('<i class="fa fa-spinner fa-spin"></i>&nbsp; ' + buttonText);

                if (isFormValid) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/profile',
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data.success) {
                                //$('#edit-location').modal('hide');
                                $('#form-profile').trigger("reset");
                                $.notify('Profile updated successfully', { type: "success" });

                                window.location.href = '/admin/users';

                            }
                            else {
                                console.log('data.message', data.message);
                                // display a error toast
                                $.notify(data.message, { type: "warning" });

                            }
                            $('#btnSave').attr('disabled', null).html('Save');
                        },
                        error: function (error) {
                            console.log(error);
                            $('#btnSave').attr('disabled', null).html('Save');
                        }
                    });
                }
                else {
                    //console.log(error);
                    $('#btnSave').attr('disabled', null).html('Save');
                }
            });
        });
    </script>
}