﻿@model MLMSystem.Models.ManagePinRequestModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4"></h1>
        <div class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fas fa-table mr-1"></i>Pin Requests
                    </div>
                    <div class="col-md-4 text-right">                        
                        @*<label class="small mb-1" asp-for="Status">Status</label>*@
                        <select asp-for="Status" required="required" asp-items="Model.Statuses" class="form-control sub-info"></select>
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="mb-sm btn btn-primary" href="/admin/manage-pin-request" title="Create New">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>                    
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatablePinRequests" class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Account Number</th>
                                <th>IFSC</th>
                                <th>Branch</th>
                                <th>Amount</th>
                                <th>Comment</th>
                                <th>Status</th>
                                <th>Requested Date</th>
                                <th>Action Date</th>
                                <th style="width:10%" class="content-centered">Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    @using (Html.BeginForm("PinRequests", "Admin", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                </div>
            </div>
        </div>
    </div>
</main>
@section BodyArea {
    <div id="user-content">
        <!--load via ajax-->
    </div>
}


@section Scripts {

    <script>
        $(document).ready(function () {
            $(function () {
    //setup ajax error handling
            $.ajaxSetup({
                error: function (x, status, error) {
                    if (x.status == 403) {
                        alert("Sorry, your session has expired. Please login again to continue");
                        window.location.href ="/admin/Login";
                    }
                    else {
                        alert("An error occurred: " + status + "nError: " + error);
                    }
                }
            });
        });

            $("#Status").change(function () {
            $("#datatablePinRequests").DataTable().ajax.reload();
                //alert($('option:selected', $(this)).text());
                //alert($(this).val());
                if ($(this).val() != '') {
                    $("#ReferralId").val($(this).val());
                }

            });


        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();

        var table = $("#datatablePinRequests").DataTable({
            "language": {
                "emptyTable": "No guest found."
                ,
                "search": "Search"
            },
            "searching": true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bSortCellsTop": true,
            "ajax": {
                "url": '@Url.Action("GetPinRequests", "Admin")',
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    // pass extra information with the post object
                    d.__RequestVerificationToken = token;
                    d.status = $("#Status").val();
                    return d;
                }
            },
            "lengthMenu": [[10, 25, 50, 100, 200, 500, -1], [10, 25, 50, 100, 200, 500, "All"]],
            "order": [[3, "desc"]],
            //"columnDefs": [
            //    { targets: [0,1,2,3], orderable: false }
            //],
            "columns": [
                { "data": "name", "name": "Name" },
                { "data": "accountNumber", "name": "Account" },
                { "data": "ifscCode", "name": "IFSC" },
                { "data": "branch", "name": "Branch" },
                { "data": "amount", "name": "Amount" },
                { "data": "comment", "name": "Comment" },
                { "data": "requestStatus", "name": "Status" },
                { "data": "requestedDate", "name": "Request Date" },
                { "data": "actionDate", "name": "Action Date" },

                {
                    mRender: function (data, type, row) {

                        var links =
                            '<a href="/admin/manage-pin-request/' + row.requestId + '" data-toggle="tooltip" title="Edit Request" class="edit-guest" style="text-decoration:none;"  data-id="' + row.requestId + '"><i class="fas fa-edit"></i></a>&nbsp;'

                        return links;

                    },
                    sClass: "content-centered"
                }
            ]
        });
    });
    </script>
}

