﻿@model MLMSystem.Models.SaveWithdrawlCommentModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="comment-content-modal" tabindex="-1" role="dialog" aria-labelledby="add-user-label" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-lg modal-width-100">
        <form id="form-save-comment" data-parsley-validate="" novalidate="" data-ajax="true"  data-ajax-mode="replace"
              data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
              data-parsley-trigger="keyup" data-parsley-errors-messages-disabled>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Save Comment</h4>
                    <button type="button" class="close red-btn" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">                               
                                <input asp-for="SeletectedRequests" type="hidden" />
                                <label class="small mb-1" asp-for="Comment">Remard</label>
                                <textarea class="form-control py-4" asp-for="Comment" type="text" required="required" placeholder="Enter remark"></textarea>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>

    $(document).ready(function () {
        debugger;
        // enable parselyjs validation on dynamic loaded  forms
        $('#form-save-comment').parsley();        

        $('#form-save-comment').submit(function (e) {
            debugger;
            e.preventDefault();
            //alert(uniqueApps);
            //debugger;
            var isFormValid =$(this).parsley().isValid();
            console.log('IsFormValid:' + isFormValid);

            var buttonText = $('#btnSave').html();
            $('#btnSave').attr('disabled', '').html('<i class="fa fa-spinner fa-spin"></i>&nbsp; ' + buttonText);
            
            if (isFormValid) {
                $.ajax({
                    type: 'POST',
                    url: '/admin/savecomment',
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.success) {
                            //$('#edit-location').modal('hide');
                            $('#form-save-comment').trigger("reset");
                            $.notify('Comment saved successfully', { type: "success" });

                            window.location.href = '/admin/withdrawlrequests';

                        }
                        else {
                            console.log('data.message', data.message);
                            // display a error toast
                            $.notify(data.message, { type: "warning" });

                        }
                        $('#btnSave').attr('disabled', null).html('Save');
                    },
                    error: function (error) {
                        console.log(error);
                        $('#btnSave').attr('disabled', null).html('Save');
                    }
                });
            }
            else {
                //console.log(error);
                $('#btnSave').attr('disabled', null).html('Save');
            }
        });
    });
</script>