﻿@model MLMSystem.Models.ManageWithdrawlRequestModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4"></h1>
        <div class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fas fa-table mr-1"></i>Withdrawl Requests
                        <button data-id="2" class="btn btn-primary take-action">Approved</button>
                        <button data-id="3" class="btn btn-primary take-action">Rejected</button>
                        <button data-id="4" class="btn btn-primary comment">Comment</button>
                    </div>
                    <div class="col-md-4 text-right">
                        @*<label class="small mb-1" asp-for="Status">Status</label>*@
                        <select asp-for="Status" required="required" asp-items="Model.Statuses" class="form-control sub-info"></select>
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="mb-sm btn btn-primary" href="/admin/manage-withdrawl-request" title="Create New">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatableWithdrawlRequests" class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="select_all" value="1" id="example-select-all">Select</th>
                                <th>Name</th>
                                <th>Account Number</th>
                                <th>IFSC</th>
                                <th>Branch</th>
                                <th>Point</th>
                                <th>Comment</th>
                                <th>Status</th>
                                <th>Requested Date</th>
                                <th>Action Date</th>
                                <th style="width:10%" class="content-centered">Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    @using (Html.BeginForm("WithdrawlRequests", "Admin", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                    {
                    @Html.AntiForgeryToken()
                    }
                </div>
            </div>
        </div>
    </div>
</main>
@section BodyArea {
    <div id="comment-content">
        <!--load via ajax-->
    </div>
}


@section Scripts {

    <script>
        $(document).ready(function () {
         var selectedApps = [];
            var uniqueApps = [];

            // Handle click on "Select all" control
            $('#example-select-all').on('click', function () {
                debugger;
            // Get all rows with search applied
            var rows = table.rows().nodes();
            // Check/uncheck checkboxes for all rows in the table
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
            //$.each(rows, function(i, el){
            //    console.log('el',el);
            //});
                if (this.checked) {
                    $.each($("input[name='active']:checked"),
                        function () {
                            selectedApps.push($(this).val());
                            console.log($(this).val());
                        });
                }
                else {
                    selectedApps = [];
                }


        });

            $(function () {
    //setup ajax error handling
            $.ajaxSetup({
                error: function (x, status, error) {
                    if (x.status == 403) {
                        alert("Sorry, your session has expired. Please login again to continue");
                        window.location.href ="/admin/Login";
                    }
                    else {
                        alert("An error occurred: " + status + "nError: " + error);
                    }
                }
            });
        });

            $("#Status").change(function () {
            $("#datatableWithdrawlRequests").DataTable().ajax.reload();
                //alert($('option:selected', $(this)).text());
                //alert($(this).val());
                if ($(this).val() != '') {
                    $("#ReferralId").val($(this).val());
                }

            });


        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();

        var table = $("#datatableWithdrawlRequests").DataTable({
            "language": {
                "emptyTable": "No guest found."
                ,
                "search": "Search"
            },
            "searching": true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bSortCellsTop": true,
            "ajax": {
                "url": '@Url.Action("GetWithdrawlRequests", "Admin")',
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    // pass extra information with the post object
                    d.__RequestVerificationToken = token;
                    d.status = $("#Status").val();
                    return d;
                }
            },
            "lengthMenu": [[10, 25, 50, 100, 200, 500, -1], [10, 25, 50, 100, 200, 500, "All"]],
            "order": [[3, "desc"]],
            "columnDefs": [
                { targets: [0], orderable: false }
            ],
            "columns": [
                {
                    mRender: function (data, type, row) {
                        if (row.active) {
                            selectedApps.push(row.requestId);
                        }

                        uniqueApps = unique(selectedApps);
                        selectedApps = uniqueApps;
                        var checked = row.status == 1 ? "checked=''" : "";
                        return "<div><label><input name='active' class='activate-app' type='checkbox' value='" + row.requestId + "'></label ></div>";
                    },
                    sClass: "content-centered"
                },
                { "data": "name", "name": "Name" },
                { "data": "accountNumber", "name": "Account" },
                { "data": "ifscCode", "name": "IFSC" },
                { "data": "branch", "name": "Branch" },
                { "data": "point", "name": "Point" },
                { "data": "comment", "name": "Comment" },
                { "data": "requestStatus", "name": "Status" },
                { "data": "requestedDate", "name": "Request Date" },
                { "data": "actionDate", "name": "Action Date" },

                {
                    mRender: function (data, type, row) {

                        var links =
                            '<a href="/admin/manage-withdrawl-request/' + row.requestId + '" data-toggle="tooltip" title="Edit Request" class="edit-guest" style="text-decoration:none;"  data-id="' + row.requestId + '"><i class="fas fa-edit"></i></a>&nbsp;'

                        return links;

                    },
                    sClass: "content-centered"
                }
            ]
        });

             table.on('draw', function () {
            var rows = table.rows().nodes();

            $.each($("input[name='active']"),
                function () {
                    if ($(this).prop("checked")) {
                        $('#example-select-all').prop("checked", true)
                    }
                    else {
                        $('#example-select-all').prop("checked", false)
                        return false;
                    }
                });
             });

             var unique=function getDistinctArray(arr) {
            var dups = {};
            return arr.filter(function(el) {
                var hash = el.valueOf();
                var isDup = dups[hash];
                dups[hash] = true;
                return !isDup;
            });
            }

            $(document).on('click', '.comment', function (e) {
                uniqueApps = unique(selectedApps);                
                if (uniqueApps == '') {
                    $.notify('Please select at least 1 record', { type: "warning" });
                    return false;
                }                  

                debugger;
                var id = uniqueApps.join(","); ;//$(this).data("id");
                    var url = '@Url.Action("savecommentmodal", "admin", new { id = 0 })';
                    url = url.replace('0', id);
                    $.ajax({
                        type: 'GET',
                        url: url,
                        success: function (data) {
                            $("#datatableUsers").removeClass("whirl traditional loader-fixed");
                            $('#comment-content').html(data);
                            $('#comment-content-modal').modal({
                                backdrop: 'static',
                                keyboard: false
                            });
                        }
                    });                
            }); 


            @*$(document).on('click', '.comment', function (e) {
                debugger;
                e.preventDefault();
                var url = '@Url.Action("savecommentmodal", "admin")';
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var id = $(this).data("id");    
                
                uniqueApps = unique(selectedApps);                
                if (uniqueApps == '') {
                    $.notify('Please select at least 1 record', { type: "warning" });
                    return false;
                }   

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { selectedIds: uniqueApps},
                    success: function (data) {
                        $('#comment-content').html(data);
                        $('#comment-content-modal').modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                    }
                });
            });*@



            $(document).on('click', '.take-action', function (e) {
                debugger;
                e.preventDefault();
                var url = '@Url.Action("TakeAction", "Admin")';
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var id = $(this).data("id");    
                
                uniqueApps = unique(selectedApps);                
                if (uniqueApps == '') {
                    $.notify('Please select at least 1 record', { type: "warning" });
                    return false;
                }   

                if (id == 4) {
                    commentModel(1);
                    return false;
                }

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { SelectedIds: uniqueApps,action:id, __RequestVerificationToken: token },
                    success: function (data) {
                        if (data.success) {
                            if (id == 2) {
                                $.notify('Reqests approved sucessfully', { type: "success" });
                            }
                            else if (id == 3) {
                                $.notify('Reqests rejected sucessfully', { type: "success" });
                            }
                            $('#datatableWithdrawlRequests').DataTable().ajax.reload();
                            //if ($('#example-select-all').checked) {                                
                            //    $('#datatableWithdrawlRequests').DataTable().ajax.reload();
                            //}
                            //else {
                            //    $.notify('All apps deactivated successfully', { type: "success" });
                            //    $('#datatableWithdrawlRequests').DataTable().ajax.reload();
                            //}
                            
                        }
                        else {
                            // display a error toast
                           
                            $.notify(data.message, { type: "warning" });
                        }
                        selectedApps = [];
                        uniqueApps = [];
                    }
                });
            });

            $(document).on('click', '.active-all', function (e) {
                e.preventDefault();
                var url = '@Url.Action("SetApps", "Admin")';
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                uniqueApps = unique(selectedApps);

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { SelectedIds: uniqueApps, __RequestVerificationToken: token },
                    success: function (data) {
                        if (data.success) {
                            if ($('#example-select-all').checked) {
                                $.notify('All apps activated successfully', { type: "success" });
                            }
                            else {
                                $.notify('All apps deactivated successfully', { type: "success" });
                                $('#datatableApps').DataTable().ajax.reload();
                            }
                            
                        }
                        else {
                            // display a error toast
                            $.notify({ message: data.message }, { status: 'warning' });
                        }
                    }
                });
            });

            $(document).on('click', '.activate-app', function (e) {            

            if ($(this).is(":checked")) {
                selectedApps.push(
                    $(this).val()
                );
            }
            else {
                selectedApps.splice( $.inArray($(this).val(), selectedApps), 1 );
            }

            uniqueApps = unique(selectedApps);
            selectedApps = uniqueApps;

            var rows = table.rows().nodes();

            $.each($("input[name='active']"),
                function () {
                    if ($(this).prop("checked")) {
                        $('#example-select-all').prop("checked", true)
                    }
                    else {
                        $('#example-select-all').prop("checked", false)
                        return false;
                    }
                });
        });



            @*$(document).on('click', '.take-action', function (e) {
                e.preventDefault();
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var id = $(this).data("id");
                var url = '@Url.Action("delete-guest", "users", new { id = 0 })';
                url = url.replace("0", id);
            });*@
    });
    </script>
}

