﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - MLM System</title>

    <link href="~/dist/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <link href="~/lib/notification/css/notify.css" rel="stylesheet" />
    <link href="~/lib/notification/css/prettify.css" rel="stylesheet" />
    <link href="~/lib/sweetalert/dist/sweetalert.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-multilselect/example-styles.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/common.css" rel="stylesheet" />

    <!-- Place styles for plugins -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Start Bootstrap</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button><!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Activity Log</a>
                    <a class="dropdown-item" href="/admin/profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/login">Logout</a>
                </div>
            </li>
        </ul>
    </nav><div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="/admin/dashboard">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link" href="/admin/users">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Manage Users
                        </a>
                        <a class="nav-link" href="/admin/myusers">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            My Users
                        </a>
                        <a class="nav-link" href="/admin/upgradedusers">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Upgraded Users
                        </a>
                        <a class="nav-link" href="/admin/guests">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Manage Guests
                        </a>
                        <a class="nav-link" href="/admin/apps">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Manage Apps
                        </a>
                        <a class="nav-link" href="/admin/all-transactions">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            All Transactions
                        </a>
                        <a class="nav-link" href="/admin/withdrawlrequests">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            All Withdrawl Requests
                        </a>
                        <a class="nav-link" href="/admin/pinrequests">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            All Pin Requests
                        </a>
                        <a class="nav-link" href="/admin/settings">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            General Settings
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            @RenderBody()
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2019</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @*Loader rendering*@
    @Html.Partial("_Loader")


    @if (IsSectionDefined("BodyArea"))
    {
        @RenderSection("BodyArea", required: false)
    }

    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/dist/js/scripts.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/dist/assets/demo/datatables-demo.js"></script>
    <script src="~/dist/assets/demo/chart-area-demo.js"></script>
    <script src="~/dist/assets/demo/chart-bar-demo.js"></script>

    <script src="~/lib/parsleyjs/dist/parsley.js"></script>
    <script src="~/lib/notification/js/notify.js"></script>
    <script src="~/lib/notification/js/prettify.js"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/jquery-multilselect/jquery.multi-select.js"></script>
    <script src="~/js/Common/common.js"></script>
    @RenderSection("Scripts", required: false)

    <script>
       $( document ).ready(function() {

        $(document).on('click', '.edit-profile', function (e) {
            $("#datatableUsers").addClass("whirl traditional loader-fixed");
            var id = $(this).data("id");
            var url = '@Url.Action("GetUserModal", "Users", new { id = 0 })';
            url = url.replace('0', id);
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $("#datatableUsers").removeClass("whirl traditional loader-fixed");
                    $('#user-content').html(data);
                    $('#user-content-modal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                }
            });
        });
    });
    </script>

</body>
</html>
