﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <p class="wow fadeInUp" data-wow-delay="0.6s">
                Copyright &copy; 2016 Your Company

                | Design: <a rel="nofollow" href="http://www.templatemo.com/page/1" target="_parent">Templatemo</a>
            </p>

            <ul class="social-icon">
                <li><a href="#" class="fa fa-facebook wow fadeInUp" data-wow-delay="1s"></a></li>
                <li><a href="#" class="fa fa-twitter wow fadeInUp" data-wow-delay="1.3s"></a></li>
                <li><a href="#" class="fa fa-dribbble wow fadeInUp" data-wow-delay="1.6s"></a></li>
                <li><a href="#" class="fa fa-behance wow fadeInUp" data-wow-delay="1.9s"></a></li>
                <li><a href="#" class="fa fa-google-plus wow fadeInUp" data-wow-delay="2s"></a></li>
            </ul>

        </div>

    </div>