﻿<!-- navbar header -->
<div class="navbar-header">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
    </button>
    <a href="#" class="navbar-brand">App Reviews</a>
</div>
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/login" class="smoothScroll">Login</a></li>
        <li><a href="/users/register" class="smoothScroll">Register</a></li>
        <li><a href="#aboutus" class="smoothScroll">About Us</a></li>
        <li><a href="#contactus" class="smoothScroll">Contact Us</a></li>
    </ul>
</div>